<h1><%=current_user.username %>'s Posts</h1>
<%if @posts.empty?%>
<p>You haven't created any posts yet</p>
<hr>
<%else%>
<%= render partial: "user/pagy_nav", locals: {pagy: @pagy} %>
  <ol>
  <%@posts.each do |p|%>
    <div style="display: flex;"><div class="p-1"><li><b><%=p.title%></b></li></div>
    <%if can? :destroy, p%><div class="p-1"><%=link_to post_path(p.id), data: {turbo_method: :delete} do%>
      <i class="fa fa-trash-can" style="color: blue;"></i>
    <%end%></div><%end%></div><br>
    <%=markdown(p.body)%>
    <%if p.premium == true %>
    <div><i class="fa-sharp fa-solid fa-circle-user p-1"></i>Premium post</div>
    <%end%>
    <hr style="color: blue;">   
  <%end%>
  </ol>

<%end%>
<h3>Create new post</h3>
<%= form_with url: '/post', method: :post do |f|%>
  <%=f.label :premium do%>
  <div><i class="fa-sharp fa-solid fa-circle-user p-1"></i>Premium post</div>
  <%end%>
  <%=f.check_box :premium %><br>
  <%=f.label :title, 'Title'%><br>
  <%=f.text_field :title%><br><br>
  <%=f.label :body, "Post :-"%><br>
  <%= f.text_area :body, 
  style: "width: 100%", 
  rows: 8, 
  maxlength: 5000
  %><br>
  <%=f.submit 'Submit',class:'btn btn-info border-3 border-primary rounded'%>
<%end%>