<%= render partial: 'layouts/search_for_ransack', locals: {q: @q}%>
<%= sort_link(@q, :name)  do%>
  <strong>Name </strong>
<%end%>
<%= sort_link(@q, :posts_count) do%>
  <i class="fa-solid fa-envelopes-bulk sorting"> </i>
<%end%>
<br>
<h1>Users: <%=@user.count%> / <%=User.all.count%></h1>
<%= render partial: "user/pagy_nav", locals: {pagy: @pagy} %>
<br>
<ol>
<%@user.each do |user|%>
<div class="container bg-light p-4">
<li><%= render partial: "user/user",locals: {user: user}%><br>
  <%=link_to user_path(user.id), class: "btn btn-info" do%>
      <div class= "fa fa-info px-1"></div> <span>Details</span>
  <%end%>
</li><br>
<hr style="color: blue;">
</div><br>
<%end%>
</ol>